<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        Copyright &copy; 2017 Chikara Chan
      </div>
      <div class="col-md-6 col-right">
        Released under the MIT license
        <a href="https://github.com/chikara-chan/invincible">
          <img class="img" src="/img/GitHub-Mark-32px.png"/>
        </a>
      </div>
    </div>
  </div>
</div>

