.section-main {
  padding-top: 80px;
  text-align: center;
  .h1 {
    position: relative;
    margin: 0 auto 50px auto;
    font-size: 60px;
    font-weight: 200;
    display: table;
    &::after {
      @include absolute(0 auto 0 0);
      content: '';
      display: block;
      background: #fff;
      width: 5px;
      transform: rotate(30deg);
      animation: animate 4s infinite;

      @keyframes animate {
        0% {
          left: -15px;
        }
        33% {
          left: -15px;
        }
        66% {
          left: 110%;
        }
        100% {
          left: 110%;
        }
      }
    }
  }
  .h2 {
    margin-top: 25px;
    font-size: 30px;
    font-weight: 200;
    color: $colorLight;
  }
  .btn-group {
    margin-top: 60px;
    margin-bottom: 60px;
    .btn {
      @include reset-link();
      @include reset-button();
      display: inline-block;
      padding: 10px 30px;
      border-radius: 20px;
      &.btn-primary {
        @include reset-button($primary);
        border-radius: 20px;
      }
      & + .btn {
        margin-left: 50px;
      }
    }
  }
}
