.section-main {
  padding-top: 80px;
  text-align: center;
  .h1 {
    position: relative;
    margin: 0 auto 50px auto;
    font-size: 60px;
    font-weight: 200;
    display: table;
    animation: shake 0.2s infinite;

    &:hover {
      animation: dangle 0.3s forwards infinite linear;
    }

    @keyframes dangle {
      100% {
        transform: rotate(360deg) scale(3);
        z-index: 100;
      }
    }

    @keyframes shake {
      0% {
        transform: rotate(1deg) translate(-1px);
      }
      25% {
        transform: rotate(0deg) translate(-1px, 1px);
      }
      50% {
        transform: rotate(-1deg) translate(1px);
      }
      750% {
        transform: rotate(0deg) translate(1px, -1px);
      }
      100% {
        transform: rotate(1deg) translate(-1px);
      }
    }
  }
  .h2 {
    margin-top: 25px;
    font-size: 30px;
    font-weight: 200;
    color: $colorLight;
  }
  .btn-group {
    margin-top: 60px;
    margin-bottom: 60px;
    .btn {
      @include reset-link();
      @include reset-button();
      display: inline-block;
      padding: 10px 30px;
      border-radius: 20px;
      &.btn-primary {
        @include reset-button($primary);
        border-radius: 20px;
      }
      & + .btn {
        margin-left: 50px;
      }
    }
  }
}
